<!DOCTYPE html>
<html lang="en">

    <head>
        <%-include('./inc/head')%>
    </head>

    <body>
        <%-include('./inc/nav')%>
        <section>
            <h1>About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In alias possimus doloremque fuga ratione iusto
                ullam. Quae qui velit quod.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In alias possimus doloremque fuga ratione iusto
                ullam. Quae qui velit quod.</p>
            <a href="/">Back </a>
        </section>

    </body>

</html>
